{% extends 'baseBack.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <div class="editform">
    <h1>Editer Formation</h1>

    {{ include('formation/_form.html.twig', {'button_label': 'Mettre a Jour'}) }}

    <a href="{{ path('app_formation_index_back') }}">Precedent</a>


    </div>
    <style>
        .editform{
            width: 1150px;
            position: relative;
            margin-top: 200px;
            left: 300px;
        }
    </style>
{% endblock %}
