

<form method="post" action="{{ path('app_commantaire_publication_delete', {'id': commantaire_publication.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commantaire_publication.id) }}">
    <button class="btn btn-primary">Suprimer</button>
</form>
