{% extends 'baseBack.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
<div class="editform">
    <h1>Editer Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_session_back_index') }}"></a>


</div>
    <style>
        .editform{
            width: 1150px;
            position: relative;
            margin-top: 200px;
            left: 300px;
        }
    </style>
{% endblock %}
