{% extends 'baseBack.html.twig' %}

{% block title %}Edit Formateur{% endblock %}

{% block body %}
    <div class="editform">
        <h1>Editer Formateur</h1>

        {{ include('formateur/_form.html.twig', {'button_label': 'Mettre a Jour'}) }}

        <a href="{{ path('app_formateur_index') }}"></a>


    </div>
    <style>
        .editform{
            width: 1150px;
            position: relative;
            margin-top: 200px;
            left: 300px;
        }
    </style>
{% endblock %}
